@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800);
@font-face {
  font-family: "augustus";
  src: url("./fonts/augustus.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav {
  font-family: "Cormorant Garamond", serif;
  height: 90px;
  width: 100%;
  background-color: #3c2b22;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  padding: 0 30px;
}
.header {
  transition: transform 0.5s linear;
}
.header.hide {
  transform: translateY(-100px);
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 350px;
}

.nav-links {
  width: 60%;
  justify-content: space-between;
  display: flex;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
}
.nav-links-li-a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: white;
}
.nav-links-li-a:hover {
  color: #ff842c;
}
.nav-links li {
  position: relative;
}
.nav-links-li-a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff842c;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links-li-a:hover::after {
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}
.arteletoheader {
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fcf7f2;
  padding: 50px 0 50px 0;
}
.arteleto-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}
.arteleto-img {
  width: 75%;
}
.arteleto-img img {
  width: 100%;
}
.arteletoheader-mobile {
  display: none;
}
.arteleto-place {
  color: #180900;
  text-decoration: none;
}
.arteleto-place:hover {
  color: #180900;
}
.arteleto-name {
  color: #180900;
  font-size: 38px;
}
.sale-30 {
  color: #ff842c;
  font-weight: bold;
  font-size: 78px;
}
video {
  position: absolute;
  width: 100%;
  top: -100px;
  z-index: -1;
}
.swiper {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
}

.swiper .card {
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.swiper .thumbnail {
  width: 100%;
  height: 180px;
}

.swiper .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .card .title-container {
  display: inline-block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  text-decoration: none;
}

.swiper .card .title-container h3 {
  margin: 0;
  color: #0077b6;
  font-size: 20px;
}

.swiper .card .description {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  padding: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background: #fff;
  padding: 8px;
  box-shadow: 0 15px 40px -3px rgba(0, 0, 0, 0.3);
}
.blick {
  margin-bottom: 50px;
  font-family: "Cormorant Garamond", serif;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
h1 {
  font-family: "Cormorant Garamond", serif;
  color: #d65a00;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  margin-bottom: 40px;
}
.message {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0 14px 80px rgb(34 35 58 / 20%);
  padding: 25px;
  border-radius: 25px;
  transition: all 0.3s;
  margin-bottom: 100px;
}
.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
}
.afish-wrapper {
  width: 80%;
  margin: auto;
}
.large-slider-container {
  width: 100%;
  margin: auto;
  float: left;
}
.large-swiper {
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
}
.swiper-slide-inside {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-inside-img {
  width: 400px;
  flex-shrink: 0;
  background-image: linear-gradient(147deg, #5e4234 0, #3c2b22 100%);
  background-size: contain;
  border-radius: 15px 0px 0px 15px;
  transform: translateX(1px);
  overflow: hidden;
}
.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 30px;
  height: 30px;
  margin: auto;
  color: #ff842c;
  font-size: 35px;
  z-index: 1;
}
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  margin: auto;
  color: #ff842c;
  font-size: 35px;
  z-index: 1;
}
.next:hover,
.prev:hover {
  color: #3c2b22;
  transition: 0.3s;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  text-align: center;
}
.card a {
  color: black;
}
.card a:hover {
  color: black;
}

.date {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.place {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.place:hover {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.name {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  text-decoration: none;
}
.name:hover {
  color: #0d0925;
}
.performers {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  transition: 0.5s;
}
.performers:hover {
  color: #d65a00;
}

.tickets-button {
  width: 200px;
  background: linear-gradient(147deg, #5e4234 0, #3c2b22 100%);
  padding: 15px 25px;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.tickets-button:hover {
  color: #fff;
}
.card-info img {
  width: 250px;
  border-radius: 0;
  margin-top: 20px;
  box-shadow: none;
}
section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
}
/* section .container {
  margin: 100px;
} */
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  width: 30%;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.row {
  justify-content: center;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("./images/left.png");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("./images/right.png");
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.what-we-do,
.what-we-do h3 {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.we-are {
  display: flex;
  justify-content: center;
}
.our-plans,
.our-plans h3 {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.subscribe {
  height: 467px;
  background-color: #fcf7f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.subscribe-img {
  width: 60%;
}
.mobile-form-img {
  display: none;
}

form {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}
fieldset input {
  width: 350px;
  height: 50px;
  border: 2px solid #3c2b22;
  border-radius: 6px;
  padding-left: 20px;
}
::placeholder {
  color: #7a6960;
}

.form-button {
  height: 49px;
  width: 251px;
  border-radius: 6px;
  padding-left: 0;
  background: linear-gradient(270.82deg, #3c2b22 0.69%, #5e4234 99.28%);
  color: #ffffff;
  border: none;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 10px;
}
#checkbox {
  accent-color: #3c2b22;
}

.checkbox input {
  width: 15px;
}
.checkbox label {
  font-size: 10px;
}
.about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.about-us-card {
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.about-us-card h3 {
  display: flex;
  color: #1c0d04;
  border-radius: 10px 0 0 0;
  font-size: 40px;
  padding: 15px;
}

.about-us-card p {
  color: #552e16;
  padding: 20px;
  font-size: larger;
}
.card {
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.owl-carousel .owl-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
.partners {
  display: flex;
  flex-direction: row;
}
.swiper-slide-img {
  width: 200px;
}
.img-fluid {
  cursor: pointer;
  width: 50px;
}
.product-thumbs .swiper-slide-active img {
  border-color: #bc4f38;
}
.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.icons {
  position: fixed;
  left: 93%;
  top: 85%;
  cursor: pointer;
}
.icons img {
  width: 60px;
}
.biography {
  text-align: center;
  margin: 20px;
}

#sidebar-biography {
  background: linear-gradient(
    -45deg,
    #ffffff,
    #ffffff,
    #fff0de,
    #fff2e3,
    #ffffff,
    #fff8f0,
    #ffffff,
    #fffafa
  );
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: -100%;
  top: 0px;
  transition: left 0.3s linear;
  z-index: 99;
  overflow: hidden;
}

#sidebar-biography.visible {
  left: 0px;
  transition: left 0.3s linear;
}

.sidebar-biography-btn {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.sidebar-biography-btn img {
  width: 35px;
  cursor: pointer;
}

.biografy-btn {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 36px;
  border-radius: 50%;
  top: calc(100% - 100px);
  left: calc(100% - 100px);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.section {
  text-align: center;
}
.section a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
}
.section a:hover {
  color: #ff842c;
}
.border-shape {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 1px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}
.confidence {
  color: #180900;
  transition: 0.5s;
}
.confidence:hover {
  color: #80421b;
}
footer {
  width: 100%;
  background-color: #3c2b22;
  color: #fff;
}

.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header .section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: #fff;
  font-size: 35px;
}
.bottom_content .fa {
  font-size: 24px;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.bottom_content a {
  margin: 0 20px;
  color: #fff;
  transition: 0.5s;
}

.bottom_content a:hover {
  color: #f89624;
}

.copyright {
  padding: 0.8em 0;
  margin-top: 25px;
  background-color: #16100d;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  nav {
    font-family: "Cormorant Garamond", serif;
    height: 60px;
    width: 100vw;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 3;
    padding: 0;
  }
  .header {
    transition: transform 0.5s linear;
  }
  .header.hide {
    transform: translateY(-100px);
  }

  .logo img {
    width: 200px;
    margin-left: 30px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 100vw;
    padding: 0 0.7vw;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    background-color: #3c2b22;
    height: 100vh;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links-li-a {
    text-decoration: none;
    margin: 0 0.7vw;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    background-color: rgba(94, 66, 52, 0.98);
  }
  .nav-links li {
    opacity: 0;
    margin-bottom: 35px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  .fade:not(.show) {
    opacity: 1;
  }

  h1 {
    font-size: 30px;
  }
  /*Animating Hamburger Icon on Click*/
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  h1 {
    font-size: 30px;
  }
  .arteletoheader-mobile {
    margin-top: 60px;
  }
}

@media (max-width: 960px) {
  video {
    top: 60px;
  }
  .afish-wrapper {
    width: 95%;
  }
  .arteletoheader {
    display: none;
  }
  .subscribe {
    height: 578px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
  }
  .subscribe-img {
    display: none;
  }
  .mobile-form-img {
    width: 100%;
    display: block;
  }

  .arteletoheader-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
  .arteletoheader-mobile-img {
    width: 100%;
    margin-bottom: 50px;
  }
  .swiper-slide-inside {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide-inside-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    transform: translateX(0px);
  }
  .next,
  .prev {
    top: 500px;
    font-size: 30px;
  }
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .container {
    margin: 0;
  }
  section .text-container {
    flex-direction: column;
  }
  section .text-container .text-box {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .icons {
    left: 85%;
    top: 85%;
  }
  .icons img {
    width: 50px;
  }
  .top_header {
    padding: 1rem;
    display: block;
  }

  .top_header .section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content .section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content .section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .logo p {
    font-size: 20px;
    margin-top: 10px;
  }
  .next,
  .prev {
    top: 370px;
  }
}
