@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800);
@font-face {
  font-family: "augustus";
  src: url("./fonts/augustus.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background: linear-gradient(
    -45deg,
    #ffffff,
    #ffffff,
    #fff0de,
    #fff2e3,
    #ffffff,
    #fff8f0,
    #ffffff,
    #fffafa
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav {
  font-family: 'Cormorant Garamond', serif;
  height: 100px;
  width: 100vw;
  background-color: #210d00;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 2;
}
.header {
  transition: transform 0.5s linear;
}
.header.hide {
  transform: translateY(-100px);
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
}
.logo p {
  color: white;
  font-size: 50px;
  font-family: "augustus";
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: white;
}
.nav-links li a:hover {
  color: #a4643b;
}
.nav-links li {
  position: relative;
}
.nav-links li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #a4643b;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::after {
  width: 80%;
}

/*Styling Buttons*/
.help-button {
  color: white;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.help-button:hover {
  background-color: #a4643b;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.afisha-button {
  color: #ffffff;
  background-color: #a4643b;
  border: 1.5px solid #a4643b;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.afisha-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  text-align: center;
  margin-top: 450px;
  background: linear-gradient(
    -45deg,
    #ffffff,
    #ffffff,
    #fff0de,
    #fff2e3,
    #ffffff,
    #fff8f0,
    #ffffff,
    #fffafa
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.partners {
  display: flex;
  flex-direction: row;
}
.swiper-slide-img{
  width: 200px;
}
.img-fluid {
  cursor:pointer;
  width: 50px;
}
.product-thumbs .swiper-slide-active img {
  border-color: #bc4f38;
}
.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

video {
  position: absolute;
  width: 100%;
  top: -100px;
  z-index: -1;
}
.blick {
  margin-bottom: 50px;
  font-family: 'Cormorant Garamond', serif;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f1e1c3;
  z-index: 1001;
}


.preloader__row {
  position: relative;
background-image: url("./images/favicon.ico");
background-size: contain;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}


@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #a4643b;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
#kupasen-ugakimev > span {
  color: #a4643b;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
#kupasen-ugakimev > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0em;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to left,
      rgba(121, 117, 117, 0),
      rgba(255, 255, 255, 0.4),
      rgba(121, 117, 117, 0)
    )
    no-repeat -2em 0%;
  background-size: 2em 100%;
  /* -moz-transform: skewX(-50deg);
  -o-transform: skewX(-50deg);
  -webkit-transform: skewX(-50deg);
  trans00: skewX(-50deg); */
}
#kupasen-ugakimev > span.blink_on:after {
  transition: 1s linear;
  background-position: 130% 0%;
}



/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1200px) {
  nav {
    height: 60px;
    position: fixed;
    z-index: 3;
  }
  .logo img {
    height: 3rem;
    width: 3rem;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #210d00;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    background-color: rgb(33, 13, 0, 0.98);
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  .fade:not(.show) {
    opacity: 1;
  }

  h1 {
    font-size: 30px;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


h2{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 800;
  margin-bottom: 40px;
}
.message {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0 14px 80px rgb(34 35 58 / 20%);
  padding: 25px;
  border-radius: 25px;
  transition: all 0.3s;
  margin-bottom: 100px;
}
.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


.afisha-wrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}


.slide img{
  width: 400px;
  border-radius: 25px;
  box-shadow: 4px 13px 30px 1px #ecb898;
}

#slider{
  position:relative;
  overflow:hidden;
  border-radius: 25px;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);
}
#secondSlider{
  position:relative;
  overflow:hidden;
  border-radius: 25px;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);
}

.slide{
  width:100%;
  display:none;
  animation-name:fade;
  animation-duration:1s;
  border-radius: 25px;
  background-color: transparent;
}


@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:gray;
}

#left-arrow{
  left:10px;
  color:#a4643b;
}

#right-arrow{
  right:10px;
  color:#a4643b;
}

@media (max-width:576px){
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 120px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #a4643b 0, #210d00 74%);
  background-size: contain;
  box-shadow: 4px 13px 30px 1px #ecb898;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.text-flicker {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 25px 0;
  animation: flicker 3s infinite; 
  color: rgb(255, 255, 255);
  background-color: rgb(169 25 25);
  padding: 10px;
  box-shadow: 1px 1px 5px 1px #303030;
}
  @keyframes flicker {  
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(169 25 25); }
    100% { color: rgb(255, 255, 255); } 
  }

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.card a{
  color: black;
}
.card a:hover{
  color: black;
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.date {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.place {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.place:hover {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.name {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  text-decoration: none;
}
.name:hover{
  color: #0d0925;
}
.performers {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  transition: .5s;
}
.performers:hover {
  color: #a4643b;
}

.tickets-button {
  width: 200px;
  background-image: linear-gradient(147deg, #a4643b 0, #210d00 74%);
  padding: 15px 25px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 1px 15px 40px 0.5px #88522fa8;
  border: none;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}
.card-info img {
  width: 250px;
  border-radius: 0;
  margin-top: 20px;
  box-shadow: none;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #a4643b;
  height: 30px;
  box-shadow: 0 0 20px #cdab96;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

.what-we-do, .what-we-do h3{
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.we-are{
  display: flex;
  justify-content: center;
}
.our-plans, .our-plans h3{
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.about-us-card {
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.about-us-card h3 {
  display: flex;
  color: #1c0d04;
  border-radius: 10px 0 0 0;
  font-size: 40px;
  padding: 15px;
}

.about-us-card p {
  color: #552e16;
  padding: 20px;
  font-size: larger;
}
section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
}
/* section .container {
  margin: 100px;
} */
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  width: 30%;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.row{
  justify-content: center;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("./images/left.png");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("./images/right.png");
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.card {
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.owl-carousel .owl-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px;
}

.card .details {
  margin: 10px;
}

.card .details h2 {
  font-weight: 600;
}

.card .details p {
  text-transform: uppercase;
  font-weight: 300;
}

a[href^="tel"]{
  color: inherit;
  text-decoration:none;
}
.icons {
  position: fixed;
  left: 93%;
  top: 85%;
  cursor: pointer;
}
.icons img {
  width: 60px;
}
.biography {
  text-align: center;
  margin: 20px;
}

#sidebar-biography {
  background: linear-gradient(
    -45deg,
    #ffffff,
    #ffffff,
    #fff0de,
    #fff2e3,
    #ffffff,
    #fff8f0,
    #ffffff,
    #fffafa
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: -100%;
  top: 0px;
  transition: left 0.3s linear;
  z-index: 99;
  overflow: hidden;
}

#sidebar-biography.visible {
  left: 0px;
  transition: left 0.3s linear;
}

.sidebar-biography-btn {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.sidebar-biography-btn img {
  width: 35px;
  cursor: pointer;
}

.biografy-btn {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 36px;
  border-radius: 50%;
  top: calc(100% - 100px);
  left: calc(100% - 100px);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: black;
}

.form a {
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.ar_form p {
  color: Fffae8;
  font-size: large;
}

.ar_form {
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 2px 1px 5px -1px rgb(205, 205, 205);
  text-align: center;
  background-color: #2b221dfc;
}

.ar_form * {
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
  color: white;
}

.ar_form form {
  width: 100%;
}

.ar_form form input {
  width: 90%;
  margin: 0.6em 0;
  padding: 10px 10px;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border-color: #230c01;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ar_form form input[type="text"],
.ar_form form input[type="password"] {
  border: 2px solid gray;
  color: #fef6d3;
}

/* #03273D; */

.ar_form form input[type="text"]:focus,
.ar_form form input[type="password"]:focus {
  border-color: #883b17;
  width: 100%;
}

.ar_form form input[type="submit"] {
  background-color: #791a0a;
  color: #fffae8;
  width: 70%;
}

.ar_form form input[type="submit"]:hover {
  width: 80%;
  background-color: #752703;
}

.ar_form a {
  color: #bbb;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.ar_form a:hover {
  color: #a33400;
}
.section {
  text-align: center;
}
.border-shape {
  background: #ffa36a none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 1px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}
.confidence{
  color: #180900;
  transition: .5s;
}
.confidence:hover{
  color: #80421b;
}
footer {
  width: 100%;
  background-color: #210d00;
  color: #fff;

}

.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header .section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: #ffa36a;
  font-size: 35px;
}
.bottom_content .fa {
  font-size: 24px;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}

.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}

.copyright {
  padding: 0.8em 0;
  margin-top: 25px;
  background-color: #180900;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
@media (max-width: 960px) {
  .logo p {
    font-size: 27px;
    margin-top: 5px;
  }
  #kupasen-ugakimev > span {
    font-size: 30px;
  }
  #kupasen-ugakimev > span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0em;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(121, 117, 117, 0),
        rgba(255, 255, 255, 0.3),
        rgba(121, 117, 117, 0)
      )
      no-repeat -2em 0%;
    background-size: 2em 100%;
    -moz-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    -webkit-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  main {
    margin-top: 300px;
  }
  video {
    top: 60px;
  }

  .slide img{
    width: 100%;
  }
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .container {
    margin: 0;
  }
  section .text-container {
    flex-direction: column;
  }
  section .text-container .text-box {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .icons {
    left: 85%;
    top: 85%;
  }
  .icons img {
    width: 50px;
  }
  .top_header {
    padding: 1rem;
    display: block;
  }

  .top_header .section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content .section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content .section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
@media (max-width: 576px){
  .logo p {
    font-size: 20px;
    margin-top: 10px;
  }
}